<div class="row">
<%= form_for @order do |f| %>
  
   <% if @order.errors.any? %>
        <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    <% end %>
  
<fieldset>
<!--  
  <div class="col-lg-8">
    <div class="form-group">
      <label class="control-label"><%= f.label :user_id %></label>
      <div class="form-control"><%= f.number_field :user_id %></div>
    </div>
  </div>
  
  <div class="col-lg-8">
    <div class="form-group">
      <label class="control-label"> <%= f.label :status %></label>
      <div class="form-control"<%= f.text_field :status %></div>
    </div>
  </div>
-->

  <%= debug @order %>
  <%= debug current_user.addresses %>
  <div class="col-lg-8">
    <div class="form-group">
       <label for="address">Add an address</label>
      <div class="form-control"><%= f.select :address_id, current_user.addresses.collect{|a| [a.to_s, a.id]} %></div>
          <%= link_to 'Add an Address', new_address_path %>
    </div>
  </div>
  
   <div class="col-lg-6">
    <div class="form-group">
       <% if @order.user.stripe_card_token.present? %>
          Credit card has been provided. We will charge the card we have by the order total
        <% else %>
          <!--  <%= render 'stripe_checkout_form' %> -->
           <%= render 'stripejs_form' %>    
       <% end %>
     </div>
    </div>
    
  <div class="col-lg-8">
    <div class="btn btn-primary">
        <%= f.submit "Complete your Order"  %>
    </div>
  </div>
  
</fieldset>
<% end %>
</div>