<%= form_for(@order, url: orders_path(@order), html: { :method => :post } ) do |f| %>
<table class="table table-striped">
  
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Stock</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
     <th>Remove</th>
  </tr>
  
  
   <% @cart.order_items.each do |item|%>
    <tr>
      <td> <%= image_tag "products/#{item.product.image_url}" %></td>
      <td><%= item.product.title %> </td>
      <td><%= link_to item.quantity, edit_order_item_path(item) %> </td>
      <td><%= print_stock item.product.stock, item.quantity %>  </td>
      <td><%= print_price item.product.price %> </td>
      <td><%= print_price item.subtotal %> </td>
      <td><%= link_to "Destroy", item, method: :delete, data: {confirm: 'Are you sure'} %>  </td>    
    </tr>
   <% end %>
  
    <tr>
      <th>Shipping To:</th>
      <td>
        <!-- form helper select expects the name of the attribute being set, which address_id, then an array of options -->
        <!--  Each of those options should be a two element array where the first element is the name to show on the form
            and the second is the value to submit  -->
        
        <%= f.select :address_id, current_user.addresses.collect{|a| [a.to_s, a.id]} %>
        <%= link_to 'Add an Address', new_address_path %>
        
       </td>
     </tr>
     <tr>
       <th>Submit Order:</th>
       <td><%= f.submit "Submit Order" %></td>
     </tr>
  
</table>

<% end %> <!-- closes the form tag above opening table tag -->


<td><%= link_to "Empty Cart", @cart, data: {confirm: 'Are you sure?'}, method: :delete %>
  <br/>
<td><%= link_to "Back to Product Listing", products_path  %></td>