<div class="row">
  
  <%= form_for @address do |f|  %>
  
     <div class="col-lg-8">
       <div class="form-group">
          <label class="control-label"> <%= f.label :line1 %></label>
         <div class="form-control"><%= f.text_field :line1 %> </div>
       </div>
     </div>
  
      <div class="col-lg-8">
       <div class="form-group">
          <label class="control-label"> <%= f.label :line2 %></label>
         <div class="form-control"><%= f.text_field :line2 %> </div>
       </div>
     </div>
  
      <div class="col-lg-8">
       <div class="form-group">
          <label class="control-label"> <%= f.label :city %></label>
         <div class="form-control"><%= f.text_field :city %> </div>
       </div>
     </div>
  
     <div class="col-lg-8">
       <div class="form-group">
          <label class="control-label"> <%= f.label :state %></label>
         <div class="form-control"><%= f.text_field :state %> </div>
       </div>
     </div>
  
      <div class="col-lg-8">
       <div class="form-group">
          <label class="control-label"> <%= f.label :zip %></label>
         <div class="form-control"><%= f.text_field :zip %> </div>
       </div>
     </div>
  
     
      <%= f.hidden_field :user_id %>
  
       <div class="col-lg-8">
       <div class="form-group">
          <div class="btn btn-primary"> 
         <%= f.submit "Submit Order" %> </div>
       </div>
     </div>
  
  <% end %>
  
</div>