
<div class="form-horizontal">
  
<%=  form_for @product, :html => {:multipart => true}  do |f| %>

<fieldset>
  <legend><h1> Add a product </h1></legend>
  <div class="col-lg-8"> 
     <div class="form-group">
      <label class="control-label"> <%= f.label :title %></label>
  
       <div class="form-control">
         <%= f.text_field :title, :placeholder => "title" %>
       </div>
      </div>
   </div>

   <div class="col-lg-8">
      <div class="form-group">
       <label class="control-label"> <%= f.label :price, "Price (like 2.99)" %></label>
       <div class="form-control"><%= f.text_field :price %></div>
     </div>
   </div>
  
    <div class="col-lg-8">
      <div class="form-group">
        <label class="control-label"> <%= f.label :stock %></label>
        <div class="form-control"> <%= f.text_field :stock %></div>
      </div>
   </div>
  
   <div class="col-lg-8">
     <div class="form-group"> 
      <label class="control-label"> <%= f.label :image_url %> </label>
      <div class="form-control"><%= f.file_field :image_url,  :placeholder => "Add image" %></div>
       
     <!-- Note :image_url is database field, so we append carrierwave's :remote_ before it and _url after it -->
       <label class="control-label"> <%= f.label :remote_image_url_url, 'or url to upload an image' %> </label>
      <div class="form-control"><%= f.text_field :remote_image_url_url,  :placeholder => "url for image upload" %></div>
       
         <!-- ensures uploads work across form redisplays  -->
         <%= f.hidden_field :image_url_cache %>
       
        <p>
           <label>
           <%= f.check_box :remove_image_url %>
            Remove uploaded image
         </label>
        </p>
     </div>  
   </div>
   
   <div class="col-lg-8">
    <div class="form-group">
     <label class="control-label"><%= f.label :description %> </label>
     <div> <%= f.text_area :description, class: 'form-control', placeholder: "description" %></div>
    </div>
  </div>
  
  <div class="col-lg-8">
    <div class="form-group">
       <div class="btn btn-primary">
         <%= f.submit %>
        </div>
     </div>
   </div>
  
</fieldset>
  
<%  end %>
</div><!-- /.form-horizontal ->  
