<div class="row">
  
<% @products.each do |product| %>
   
     <!-- /.fixedheight and .bottomaligned are not bootstrap classes -->
  <div class="col-lg-3 col-sm-4 col-6 fixedheight ">
    
    <div class="img-responsive image" alt="Responsive image"><%= image_tag product.image_url.url(:thumb) %></div>
  
      <div>
       <span><%= link_to product.title, product_path(product)  %></span>
       <!--  <p><%= product.description %></p> -->
        <p><%= print_price(product.price) %>
          <b><%= print_stock(product.stock) %></b> </p>
        <div >
          <% if user_signed_in? %>
          <span class="bottomcentre"><%= link_to 'edit', edit_product_path(product), class: "btn btn-primary"  %></span>
          <span class="bottomright"><%= link_to "Delete", product, data: {confirm: 'Are u sure?'}, method: :delete, class: "btn btn-danger" %></span>
          <% end %>
          <span class="bottomleft"> <%= button_to "Add to cart", order_items_path(product_id: product) %></span>
              
        </div>
        <hr>
       </div>
    
      
    <br/>

  </div><!-- /.col-lg-3 -->

  <% end %>
</div><!-- /.row -->

<br/>

<%= link_to 'Create a new Product', new_product_path %>
<br/>
<%# this is  a comment, note the # sign indicating comment %>
<%#= link_to 'home page', home_path %>
<%= link_to 'Back to home page', home_index_path %>