
<div class="col-lg-3 col-sm-4 col-6">
  <p> <%=  @product.title %> </p>
  
  <p> <%= @product.price %> </p>
  
  <p> <%= @product.description %> </p>

  <p> <%= @product.image_url %> </p>  
  
  <%= link_to 'edit', edit_product_path(@product), class: "btn btn-primary"  %>
<%= link_to 'Back', products_path %>
</div>
