
<div class="col-lg-3 col-sm-4 col-6">
  <p> <%=  @product.title %> </p>
  
  <p> <%= @product.price %> </p>
  
  <p> <%= @product.description %> </p>

  <!-- :image_url is database column -->
  <p> <%= image_tag @product.image_url.url(:thumb) %> </p>  
  
  <% if user_signed_in? %>
     <%= link_to 'edit', edit_product_path(@product), class: "btn btn-primary"  %>
  <% end %>
<%= link_to 'Back', products_path %>
</div>
